#tweetform
  form#newtweet(method: "POST", action: "/statuses/update")
    input#tweetinput(placeholder: "What's happening?", name: "status[text]")
    button#tweetbutton(type: "submit") Tweet
#tweets
script(id: 'tweetTemplate', type: 'text/x-jquery-tmpl')
  .tweet
    .avatar
      img(src: '${profile_image_url}', height: 48, width: 48)
    .data
      .screenname \${screen_name}
      .name \${name}
        | {{if retweeter}}
        span.rt ♻ by \${retweeter}
        | {{/if}}
      .msg {{html text}}
      time.relative(datetime: '${created_at}')
script(src: '/js/jquery-1.5.2.min.js')
script(src: '/js/jquery.tmpl.min.js')
script(src: '/js/jquery.timeago.js')
script(src: '/js/jquery.disableIfEmpty.js')
script(src: '/socket.io/socket.io.js')
script(src: '/js/less-noise.js', data-port: port)
